.subnavbar
  .container
    %ul.nav.nav-tabs
      %li
        = link_to 'Home', user_url(current_user)
      %li
        = link_to 'Venues', company_admin_venues_url
      %li
        = link_to 'Events', company_admin_events_url
      %li
        = link_to 'Edit account', edit_user_registration_path
